h1 {
  color: #FD7B41;
  font-size: 50px;
  text-align: center;
  font-family: PROFA, serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

p {
  color: #f8f8f8;
  font-size: 30px;
  text-align: center;
  font-family: 'Creato Display', serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);

}

/* styling for reflection paragraphs */
.reflection-paragraph::first-line {
  text-indent: 2em;
}

/* First letter style, just a big ol' orange L */
.opening-paragraph::first-letter {
  font-size: 2.2em;
  font-weight: 700;
  color: #FD7B41;
  float: left;
  line-height: 0.8;
  margin-right: 0.1em;
}

/* content box styling */
.reflection-box {
  background-color: rgba(34, 34, 34, 0.9);
  border: 3px solid #FD7B41;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
}
h3 {
  text-align: center;
}

.story-heading {
  text-align: center;
  color: #FD7B41;
  font-family: PROFA, serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

blockquote {
  color: #DDDCDB;
  font-size: 20px;
  text-align: center;
  font-style:italic;
  font-family: PROFA, serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
@font-face {
  font-family: PROFA;
  src: url("ProfaTrial-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Creato Display';
  src: url("CreatoDisplay-Thin.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("computer_tower.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  text-align: center;
  font-family: PROFA, serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

a {
  text-decoration: underline;
  color: #FD7B41;
  transition: color 0.25s ease, transform 0.25s ease;
}

a:hover {
  color: #3C4044;
  transform: scale(1.00);
  text-decoration: none;
}

ul {
  color: #fffff8;
  font-size: 20px;
  font-family: 'Creato Display', serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.747);
  margin: 20px 40px;
  text-align: left;
}

ul:hover {
  color: #fd7b41;
}

.resume-link {
  display: inline-block;
  padding: 10px 16px;
  margin: 20px 0;
  border: 2px solid #888580;
  background-color: #888580;
  border-radius: 8px;
}


