h1 {
  color: #FD7B41;
  font-size: 45px;
  text-align: center;
}

p {
  color: #9D00FF;
  font-size: 20px;
}
<div class="https://anothercsguy.github.io/webdevelopment/evenbettter.png"></div>​
   
