h1 {
  color: #FD7B41;
  font-size: 45px;
  text-align: center;
  font-family: PROFA, serif;
}

p {
  color: #9D00FF;
  font-size: 20px;
  text-align: center;
  font-family: 'Creato Display', serif;
}
h3 {
  text-align: center;
}
blockquote {
  text-align: center;
}
@font-face {
  font-family: PROFA;
  src: url("ProfaTrial-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}​

​@font-face {
  font-family: 'Creato Display';
  src: url("CreatoDisplay-Thin.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
   
